label,h1{
	font-family:cooper black;
}

#btnsubmit{
	margin-bottom:10px;
	  display: flex;
  align-items: center;
  justify-content: center;
}
body{
	background-image: url("../images/passback3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.panel{
	background-color:transparent;
	margin-left:20%;
	margin-right:25%;
	padding:5%;
	border:2px solid black;
}
#head{
	margin-bottom:20px;
}
.btnsub{
	background: black;
}
.btnsub:hover{
	background:darkcyan;
}